{{ define "game" }}
<article>
<h1>{{ .Title }}</h1>

<form class="d-flex" style="padding: 20px;" action="https://yandex.com/search/" method="GET" target="_blank" onsubmit="addKeyword()">
  <input class="form-control me-2" type="search" id="searchInput" placeholder="Search Games" aria-label="Search">
  <input type="hidden" name="text" id="hiddenInput">
  <input type="hidden" name="site" value="dolphin27.gitlab.io">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<script>
  function addKeyword() {
    const searchInput = document.getElementById('searchInput').value;
    const hiddenInput = document.getElementById('hiddenInput');
    const keyword = " {{ .Params.codename }}";
    hiddenInput.value = searchInput + keyword;
  }
</script>

{{ .Content }}

{{ if not (eq .Params.nomenu "ok") }}
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
{{ range .Pages }}
 
  <tbody>
    <tr>
      <td class="tddd"><a class="game_link" href="{{ .RelPermalink }}">{{ .Title }}</a></td>
      <td class="tdcc">{{ .Params.size }} MB</td>
    </tr>
    
  </tbody>
{{ end }}


</table>

</table>
</article>
{{ end }}
{{ end }}

