{{ partial "meta/main.html" . }}
<head>
{{ partial "head.html" . }}
<title>{{ .Title }}</title>
{{ partial "adspop.html" . }}
</head>
<body>
{{ partial "navbar.html"  . }}
<main class="container">
<article>
{{ if eq .Params.console "gamecube" }}
<h1>{{ .Title }} - Nintendo GameCube</h1>
<p>Download Game Nintendo GameCube Support Dolphin Emulator, <b>{{ .Title }}</b> Size {{ .Params.size }} MB/GB, Don't forget to extract the <em>zip</em> file.
</p>
 {{ else if eq .Params.console "wii" }}
<h1>{{ .Title }} - Nintendo Wii</h1>
<p>Download Game Nintendo Wii Support Dolphin Emulator, <b>{{ .Title }}</b> Size {{ .Params.size }} MB/GB, Don't forget to extract the <em>zip</em> file.
</p>
{{ end }}


<hr>
<p>Name = {{ .Title }}</p>
{{ if .Params.genre }}
<p>Genre = {{ .Params.genre }}</p>
{{ end }}

{{ if .Params.size }}
<p>Size = {{ .Params.size }} MB/GB</p>
{{ end }}


<p>Server = myrient</p>


{{ if .Params.format }}
<p>Format = {{ .Params.format }}</p>
{{ end }}


<h2 style="padding-top: 0px;">Download Link</h2>
<p style="text-align: center;">Click and Back 3x to download
</p>
{{ if .Params.link }}
 {{ if eq .Params.console "gamecube" }}
<a href="https://myrient.erista.me/files/Redump/Nintendo%20-%20GameCube%20-%20NKit%20RVZ%20%5Bzstd-19-128k%5D/{{ .Params.link }}.zip">
<img class="img_download" src="/img/download.webp" alt="download">
</a>
 {{ else if eq .Params.console "wii" }}
<a href="https://myrient.erista.me/files/Redump/Nintendo%20-%20Wii%20-%20NKit%20RVZ%20%5Bzstd-19-128k%5D/{{ .Params.link }}.zip">
<img class="img_download" src="/img/download.webp" alt="download">
</a>
{{ end }}
{{ end }}
<h2>Download Your Favorite GameCube and Wii Games, Including {{ .Title }}!</h2>

<p>Do you miss the thrill of playing classic GameCube and Wii games? We have great news! Now you can easily and quickly download your favorite games, including {{ .Title }}, compatible with the Dolphin emulator, on this page.</p>

<h2>Why Download GameCube/Wii Games Here?</h2>

<ul>
        <li><em>Wide Selection :</em> We offer a wide selection of GameCube and Wii games, from popular titles to hidden gems.  Including, of course, {{ .Title }}.</li>
        <li><em>Dolphin Compatible :</em> All games are compatible with the Dolphin emulator, allowing you to play them on your PC.</li>
        <li><em>Fast Downloads :</em> The download process is designed to be as fast and stable as possible.</li>
        <li><em>Free :</em>  All the games on this page, including {{ .Title }}, are available for free download.</li>
</ul>

<h2>How to Download {{ .Title }}</h2>
<ol>
	<li>Find {{ .Title }} in the list of available games below.</li>
        <li>Click the "Download" button next to {{ .Title }}.</li>
        <li>Wait for the download to complete.</li>
        <li>Extract the downloaded {{ .Title }} game file (usually an ISO or WBFS file).</li>
        <li>Open the Dolphin emulator and load the {{ .Title }} game file.</li>
        <li>Follow the emulator's instructions to configure and play {{ .Title }}.</li>
    </ol>
    

    <h2>Don't Miss Out!</h2>

    <p>Explore our collection of GameCube and Wii games and rediscover your favorites!  Download {{ .Title }} and other amazing games now!</p>

    <h2>Important Notes</h2>

    <ul>
        <li>You will need to download and install the Dolphin emulator separately.  We do not provide the emulator itself.</li>
        <li>Make sure your computer meets the minimum requirements for running the Dolphin emulator and the games you wish to play, especially {{ .Title }}.</li>
        <li>Game file sizes can be large, so ensure you have sufficient storage space.</li>
        <li>We are not responsible for any copyright infringement that may occur as a result of downloading games from this page.  These downloads are provided for archival and personal backup purposes only.</li>
    </ul>

    <p><strong>Download {{ .Title }} and start playing today!</strong></p>
    

    <p>Remember to replace all instances of <code>{{ .Title }}</code> with the actual game title.  The "Download" links are placeholders; you will need to implement the actual download functionality on your server.</p>

</article>
</main>
{{ partial "footer.html" }}
</body>
</html>
