<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "navbar.html" . }}
<main class="container">
{{ block "wii" . }}
{{ .Content }}
{{ end }}
</main>
{{ partial "footer.html" }}
</body>
</html>

