
:root {
	
	font-family: sans-serif, Arial, Helvetica;
	
	}
body {
  
    font-family: sans-serif, Arial, Helvetica;
}

        
}

p,
article,
main {
	font-family: sans-serif, Arial, Helvetica;
	padding-bottom: 10px;
	
	}
footer {
  padding-bottom: 18px;
  line-height: 1.3;
  margin: 0;
  text-align: center;
  font-family: sans-serif, Arial, Helvetica;
	}

article img {
	margin: auto;
     display: block;
     text-align: center;
 	 justify-content: center;
  	align-items: center;
	}
.IMG_HOME {
    width: 200px;
     height: 280px;
     
    }
@font-face {
        font-family: hh1;
        src: url(/font/h1.ttf);
}

@font-face {
        font-family: italicc;
        src: url(/font/italic.ttf);
}

i {
	font-family: sans-serif, Arial, Helvetica;
	}
  
h1 {
	padding: 0px;
	font-size: 23px;
	text-align: center;
	font-family: sans-serif, Arial, Helvetica;
	padding-bottom: 15px;
	padding-top: 6px;
	margin: 1.25rem 0 1.25rem;
	font-weight: 600;
	}
h2 {
	padding: 5px;
	font-size: 21px;
	text-align: center;
	font-family: sans-serif, Arial, Helvetica;
	padding-bottom: 6px;
	padding-top: 50px;
	}
	
h3 {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 17px;
	text-align: left;
	font-family: sans-serif, Arial, Helvetica;
	padding-bottom: 6px;
	padding-top: 6px;
	}

.MID {
  
  font-family: sans-serif, Arial, Helvetica;
  line-height: 1.3;
  margin: 0;
  padding: 4px;
  text-align: center;
}

a {
color: white;

}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #007d9c;
	}
h4 {
font-size: 17px;
color: #6610f2
}

h5 {
font-size: 15px;
color: #4400C6;
font-weight: 700;
}

h6 {
font-size: 12px;
padding-top: 0px;
padding-bottom: 0px;
font-weight: 800;
}




.ICON_MAIN {
	width: 50%;
     vertical-align: middle;
	
	}
a:link {
	text-decoration: none;
	}


a:visited {
	text-decoration: none;
	}


a:hover {
	text-decoration: none;
	}


a:active {
	text-decoration: none; 
	}



ul {
	font-size: 17px;
	
	}

strong,
b {
	font-family: sans-serif, Arial, Helvetica;
	font-weight: 580;
	}
	
body {
  min-height: 75rem;
  padding-top: 6.5rem;
}

.img_install {
	border: 2px solid #555;
	margin-bottom: 20px;
	}
.img_download {
	text-align: center;
	width: 170px;
	height: 60px;

}
.img_roww {
	margin-top: 0px;
	padding-top: 0px;
	
	}
.FMID {
text-align: center;
justify-content: center;
align-items: center;
align: center;
font-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}


.ICON {
	width: 23px;
	height: 23px;
	vertical-align: middle;
	margin-right: 8px;
	}
.DOWNLOAD_ICON {
width: 12px;
height: 22px;
text-align: center;
}
em {
  color: green;
}

