{{ define "gamecube" }}
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
    </tr>
  </thead>

{{ range .Pages }}
 
  <tbody>
    <tr>
      
      <td class="tddd"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
      <td class="tdcc">{{ .Params.size }}</td>
    </tr>
  </tbody>




{{ end }}


</table>

{{ end }}

