
{{ partial "js.html" . }}
<hr>
<footer>
	<div class="FOOTERR">
		<div class="p_footer MID"><a href="https://t.me/dolphin_emu">Telegram</a></div>
		<div class="p_footer MID"><a href="https://androidroot.net">Android Root</a></div>
		<div class="p_footer MID"><a href="https://ppsspp.gitlab.io">PPSSPP Emulator</a></div>
		<div class="p_footer MID"><a href="https://winlator.gitlab.io">Winlator</a></div>
		<div class="p_footer MID"><a href="https://aethersx2.me">Aethersx2.me</a></div>
	<div class="p_footer MID"><a href="https://aethersx2.gitlab.io">aethersx2.gitlab.io</a></div>
     <p>Copyright &copy; {{ now.Format "2006"}} dolphin27.gitlab.io</p>
	</div>
</footer>
