
{{ partial "google/tagmanager_body.html" . }}
<header>
<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img class="ICON_MAIN" src="/img/icon.png" alt="ppsspp icon"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/download">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/game">Game</a>
        </li>
         
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
</header>
  

